body{
  font-family: helvetica,sans-serif;
  background:	#696969;
  margin: auto;
}
div{
  height: 200px;
  background-size: cover;
}
.first{
  background-image: url("Casa Kimball villa_Ultra HD.jpg");
  background: cover;
  position: relative;
}
.second{
  background-image: url("Unbelievable-3BHK-Flats-For-Sale-at-Rajarajeshwari-Nagar_2.jpg");
  background: cover;
  position: relative;
}
.third{
  background-image: url("upld_445336445050707961_Best-top-desktop-3d-buildings-wallpapers-hd-3d-buildings-wallpaper-11.jpg");
  background: cover;
  position: relative;
}
h1{
  text-align: center;
  line-height: 20px;
  margin-top: 20px;
}
h2{
  
}
